- Which majors are most affected by the influx/outflux of students?  
- Which majors have had an increase or decrease in measured interest over time?  
- Which majors have experienced differences in follow-through of students over time?

In [1]:
%matplotlib inline
%pylab inline
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import HTML,display

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv("student_flow_aggregated_file.csv")
df.head()

,Gender,actcat,T1_Level2,T2_Level2,T3_Level2,T1_IMFIT,T2_IMFIT,T3_IMFIT,YR1,YR2,transfer,HighestLevel2,count
0,Female,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Good,Good,2-year,2-year,0,Agric. & Nat. Res. Cons,1
1,Female,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Good,Good,2-year,2-year,0,Eng. Tech. & Drafting,1
2,Female,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Good,Good,2-year,2-year,0,Health Admin. & Assisting,1
3,Female,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Moderate,Moderate,4-year,4-year,0,"Commun, Fam., & Personal Svcs",1
4,Female,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Moderate,Moderate,4-year,4-year,0,Education,1

In [7]:
# df.groupby(['Gender','actcat','T1_Level2','T2_Level2','T3_Level2','T1_IMFIT','T2_IMFIT','T3_IMFIT','YR1', 'YR2','transfer','HighestLevel2']).sum()

In [8]:
df1 = df[['T1_Level2','actcat','T1_IMFIT','HighestLevel2','Gender']]
df1.head(1)

                 T1_Level2 actcat T1_IMFIT            HighestLevel2  Gender
0  Agric. & Nat. Res. Cons   1-15     Good  Agric. & Nat. Res. Cons  Female

In [37]:
np.random.randn(df1.shape[0],1).shape

(1, 10)

-1.0314451567961993

In [47]:
dfnp = np.array(df1)
for i in range(dfnp.shape[0]):
    act = dfnp[i,1]
    a = act.split('-')
    dfnp[i,1] = (int(a[0])+int(a[1]))/2+np.random.randn()

In [60]:
df1 = pd.DataFrame(dfnp)

In [61]:
df[df['count']>0].describe()

            transfer          count
count  101048.000000  101048.000000
mean        0.136826       2.326657
std         0.343665      10.088561
min         0.000000       1.000000
25%         0.000000       1.000000
50%         0.000000       1.000000
75%         0.000000       1.000000
max         1.000000     880.000000

In [63]:
df1_random = df1.sample(frac=1).reset_index(drop=True)

In [67]:
out1 = []
for i in df1_random.values[:800]:
    out1.append(list(i))
#     break
with open('temp.txt','w') as f:
    f.write(str(out1))

In [11]:
# -*- coding: utf-8 -*-
import tushare as ts
import pandas as pd
from IPython.display import HTML
import sys
reload(sys)
sys.setdefaultencoding("utf-8")
%matplotlib inline
%pylab inline

In [73]:
headstr = """

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <script src="./echarts.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = '';
        require.config({ paths:{ echarts: './echarts.js'}});
        require(['echarts'],function(ec){
        myChart = ec.init(document.getElementById('main'));
        myChart.setOption(option);
    });

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
    </script>
</body>
</html>
"""

tailstr = """
myChart.setOption(option);
    });
</script>
"""
display(HTML(headstr+'<h2>23</h2>'))

In [48]:
g = df.groupby(['T1_Level2']).sum()
del g['transfer']
g['name'] = g.index
g.columns.values[0] = 'value'
g.to_json('T1_Level2.json',orient='records')

In [49]:
# g = df.groupby(['T1_Level2','T1_IMFIT']).sum()
# del g['transfer']
# g.get_values
# g['count']
# g['name'] = g.index
fit1 = []
fit2 = []
fit3 = []
for (k1, k2), group in df.groupby(['T1_Level2','T1_IMFIT']):
    if k2 == 'Good':
        fit1.append({'name':k1,'value':group['count'].sum()})
    if k2 == 'Moderate':
        fit2.append({'name':k1,'value':group['count'].sum()})
    if k2 == 'Poor':
        fit3.append({'name':k1,'value':group['count'].sum()})
pd.DataFrame(fit1).to_json('1fit1.json',orient='records')
#     print k1,k2
#     print group
# g
# g.columns.values[0] = 'value'
# g.to_json('T1_Level2',orient='records')

In [50]:
pd.DataFrame([{}])

NameError: name 'data' is not defined

In [51]:
ret = []
with open('name','r'):
    for line in f.readlines():
        flag = 0
        for column in line.split(','):
            if column == 'NULL' or column == '0':
                flag = 1
        if flag:
            ret.append(['NAN','NAN','NAN','NAN','NAN','NAN',])
        else:
            ret.append(line.split(','))

IOError: [Errno 2] No such file or directory: 'name'

In [ ]:
import pandas as pd
df = pd.read_csv('name')
for column in df.columns:
    df[column] ==