In [58]:
%matplotlib inline
%pylab inline
import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib.pyplot as plt
from IPython.display import HTML,display

Populating the interactive namespace from numpy and matplotlib

In [59]:
df = pd.read_csv("student_flow_aggregated_file.csv")

In [60]:
df = df[df['count']>2]
df = df.sample(frac = 0.1,weights='count',replace=1)
dfs = df[['T1_Level2','actcat','Gender','T1_IMFIT','T2_Level2','T2_IMFIT','T3_Level2']].copy()
dfs.set_index(np.arange(dfs.shape[0]),inplace=1)
print dfs.shape
dfs.head()

(1345, 7)

,T1_Level2,actcat,Gender,T1_IMFIT,T2_Level2,T2_IMFIT,T3_Level2
0,Business,24-27,Male,Good,Social Sciences & Law,Good,Social Sciences & Law
1,Engineering,24-27,Male,Good,Engineering,Good,Engineering
2,Business,28-32,Male,Good,Social Sciences & Law,Poor,Social Sciences & Law
3,Engineering,28-32,Female,Poor,Engineering,Poor,Engineering
4,Sciences: Biological & Physical,20-23,Female,Good,Sciences: Biological & Physical,Good,Sciences: Biological & Physical

In [61]:
for i in range(dfs.shape[0]):
    act = dfs.loc[i,'actcat']
    a   = act.split('-')
    dfs.loc[i,'actcat'] = float((int(a[0])+int(a[1])))/2.0+np.random.randn()*0.6
    gender = dfs.iloc[i,3]
    if gender == 'Good':
        dfs.iloc[i,3] = 3+np.random.randn()*0.1
    elif gender == 'Moderate':
        dfs.iloc[i,3] = 2+np.random.randn()*0.1
    else:
        dfs.iloc[i,3] = 1+np.random.randn()*0.1
    
    gender = dfs.iloc[i,5]
    if gender == 'Good':
        dfs.iloc[i,5] = 3+np.random.randn()*0.1
    elif gender == 'Moderate':
        dfs.iloc[i,5] = 2+np.random.randn()*0.1
    else:
        dfs.iloc[i,5] = 1+np.random.randn()*0.1
dfs.head(3)

,T1_Level2,actcat,Gender,T1_IMFIT,T2_Level2,T2_IMFIT,T3_Level2
0,Business,25.9711,Male,3.06177,Social Sciences & Law,2.93769,Social Sciences & Law
1,Engineering,26.5105,Male,3.04254,Engineering,3.14945,Engineering
2,Business,30.0155,Male,2.87191,Social Sciences & Law,0.981001,Social Sciences & Law

In [62]:
dfs.shape

(1345, 7)

In [63]:
out1 = []
for i in dfs.values:
    out1.append(list(i))
#     break
with open('temp.txt','w') as f:
    f.write(str(out1))

In [27]:
out1 == out2

True